@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "EBGaramond", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  @apply text-gray-900;
}

p {
  @apply py-2;
  @apply text-base;
}

a {
  @apply text-primary-200;
}

a:hover {
  @apply border-primary-100;
}

ul li {
  list-style-type: disc;
}
